.settingsArea {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: red;
}

.settingsAreaContainer {
  background-color: greenyellow !important;
  height: 100%;
  box-sizing: border-box;
  height: 100vh;
  width: 800px;
}
