/* Container for the switch and labels */
.switch-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Styling for Yes/No labels */
.label {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px !important;
  margin-right: 10px;
  font-size: 1rem;
}

/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 60px;
  height: 30px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider (the switch) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--faded-color);
  transition: 0.2s;
  border-radius: 30px;
}

/* Round slider button */
.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  transition: 0.2s;
  border-radius: 50%;
}

/* Change background color when checked */
input:checked + .slider {
  background-color: var(--text-color-dark);
}

/* Move the slider button when checked */
input:checked + .slider:before {
  transform: translateX(30px);
}
