.chatConfiguration {
  padding: 0px 10px;
  background-color: rgb(28, 28, 28);
  border-radius: 35px 35px 0px 0px;
}

.chatBar {
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 40px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid var(--faded-color);
}

.searchBar {
  border: none;
  outline: none;
  box-sizing: border-box;
  border: none;
  height: 40px;
  width: 100%;
  background-color: transparent;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  padding: 20px 0px;
  color: var(--text-color);
  border-radius: 30px;
}

.prompt {
  display: flex;
  flex-direction: row;
}

.chatBarOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  gap: 10px;
}

.chatBarOption {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 20%;
}

.chatBarSelector {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  background-color: var(--faded-color);
  color: var(--text-color);
  border: 2px solid var(--faded-color);
}

.submitButton {
  border: 2px solid transparent;
  border: none;
  outline: none;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.submitButton:hover {
  border: 2px solid var(--hover-outline-color);
  transition: border 0.3s;
}

.submitButton:disabled {
  background-color: var(--faded-color);
  color: var(--faded-text-color);
  cursor: default;
}

.custom-button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--faded-color);
  color: var(--faded-text-color);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  transition: border 0.3s;
}

.custom-button:hover {
  border: 2px solid var(--hover-outline-color);
  transition: border 0.3s;
}

.custom-button input[type='radio'] {
  display: none;
}

.custom-button.active {
  color: var(--text-color-dark);
  font-weight: 600;
  background-color: var(--accent-color);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 500px;
}

.modelOptions {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.lineBreak {
  width: 100%;
  border: 1px solid var(--faded-color);
  margin-bottom: 7.5px;
}

.settingsButton {
  border: 2px solid transparent;
  border: none;
  outline: none;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  cursor: pointer;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.clientKnowledge {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
}

.corpusOptions {
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--faded-color);
  color: var(--text-color);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, border 0.3s;
}

.fileInput {
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 45px;
  background-color: var(--faded-color);
  border-radius: 5px;
  padding: 10px;
}

.corpusTypes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
}

.companyCorpus {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.otherCorpus {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.title {
  color: white;
  font-size: 14px;
}
